<ion-toolbar>
  <ion-icon slot="start" name="person-outline"></ion-icon>
  <ion-title>
    @if (mode=='edit') {
      {{ 'PLAYERS.EDIT' | translate }}
    }
    @else {
      {{ 'PLAYERS.NEW' | translate }}
    }
  </ion-title>
  @if (isMobile) {
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  }
</ion-toolbar>
<ion-content class="ion-padding">
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input [label]="'PLAYERS.NAME' | translate" label-placement="stacked"  type="text" formControlName="name"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
    <p *ngIf="name?.errors?.['required']">{{ 'PLAYERS.ERRORS.NAME_REQUIRED' | translate }}</p>
    <p *ngIf="name?.errors?.['minlength']">{{ 'PLAYERS.ERRORS.NAME_MIN_LENGTH' | translate }}</p>
  </ion-text>

  <!-- Apellidos -->
  <ion-item>
    <ion-input [label]="'PLAYERS.SURNAME1' | translate" label-placement="stacked" type="text" formControlName="firstSurname"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="firstSurname?.invalid && (firstSurname?.dirty || firstSurname?.touched)">
    <p *ngIf="firstSurname?.errors?.['required']">{{ 'PLAYERS.ERRORS.SURNAME_REQUIRED' | translate }}</p>
    <p *ngIf="firstSurname?.errors?.['minlength']">{{ 'PLAYERS.ERRORS.SURNAME_MIN_LENGTH' | translate }}</p>
  </ion-text>

  <ion-item>
    <ion-input [label]="'PLAYERS.SURNAME2' | translate" label-placement="stacked" type="text" formControlName="secondSurname"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="secondSurname?.invalid && (secondSurname?.dirty || secondSurname?.touched)">
    <p *ngIf="secondSurname?.errors?.['required']">{{ 'PLAYERS.ERRORS.SURNAME_REQUIRED' | translate }}</p>
    <p *ngIf="secondSurname?.errors?.['minlength']">{{ 'PLAYERS.ERRORS.SURNAME_MIN_LENGTH' | translate }}</p>
  </ion-text>

  <!-- Nacionalidad -->
  <ion-item>
    <ion-input [label]="'PLAYERS.NATIONALITY' | translate" label-placement="stacked" type="text" formControlName="nationality"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="nationality?.invalid && (nationality?.dirty || nationality?.touched)">
    <p *ngIf="nationality?.errors?.['required']">{{ 'PLAYERS.ERRORS.EMAIL_REQUIRED' | translate }}</p>
    <p *ngIf="nationality?.errors?.['minlength']">{{ 'PLAYERS.ERRORS.EMAIL_INVALID' | translate }}</p>
  </ion-text>

  <!-- Dorsal -->
  <ion-item>
    <ion-input [label]="'PLAYERS.DORSAL' | translate" label-placement="stacked" type="text" formControlName="dorsal"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="dorsal?.invalid">
    <p *ngIf="dorsal?.errors?.['required']">{{ 'PLAYERS.ERRORS.EMAIL_REQUIRED' | translate }}</p>
    <p *ngIf="dorsal?.errors?.['minlength']">{{ 'PLAYERS.ERRORS.EMAIL_INVALID' | translate }}</p>
  </ion-text>
  <!-- Fecha Nacimiento -->
  <ion-item>
    <ion-input [label]="'PLAYERS.BIRTHDATE' | translate" label-placement="stacked" type="text" formControlName="birthdate" placeholder="AAAA-MM-DD">
      
    </ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)">
    <p *ngIf="birthdate?.errors?.['required']">La fecha de nacimiento es obligatorio.</p>
  </ion-text>
  <!-- Posicion -->
  <ion-item>
    <ion-input [label]="'PLAYERS.POSITION' | translate" label-placement="stacked" type="text" formControlName="position"></ion-input>
  </ion-item>
  
  <ion-text color="danger" *ngIf="position?.invalid && (position?.dirty || position?.touched)">
    <p *ngIf="position?.errors?.['required']">La posición es obligatoria.</p>
  </ion-text>

  <ion-item>
    <ion-label position="stacked">{{ 'PLAYERS.TEAM' | translate }}</ion-label>
      <app-team-selectable formControlName="team"></app-team-selectable>
  </ion-item>
  <!-- Botón de Envío -->
  <ion-button color="success" [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit" >{{ 'PLAYERS.SUBMIT' | translate }}</ion-button>
</form>

</ion-content>