ion-content {
  --background: none;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --min-height: 100%;
}

.scrollable-content {
  overflow: hidden; /* Oculta completamente la barra de scroll */
}

ion-content {
  --overflow: hidden;
}

::-webkit-scrollbar {
  display: none; /* Oculta la scrollbar en navegadores basados en WebKit */
}

html, body {
  overflow: hidden; /* Evita el desplazamiento global */
}

ion-toolbar {
  --background: #355e38;
  --color: white;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-toolbar ion-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 0;
  text-align: center;
}

ion-toolbar ion-icon {
  font-size: 24px;
  color: white;
}

ion-buttons {
  display: flex;
  justify-content: flex-end;
}

ion-button {
  --background: transparent;
  --border-radius: 50%;
  --color: white;
}

ion-button:hover {
  --background: rgba(255, 255, 255, 0.1);
}

/* Modal form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 16px;
}

ion-item {
  --background: transparent;
  --border-color: #ccc;
}

ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-input label {
  font-size: 14px;
  font-weight: 500;
}

ion-text {
  font-size: 12px;
  color: #ff3b30;
  margin-top: -10px;
}

/* Responsive */
@media (max-width: 600px) {
  ion-toolbar {
    padding: 8px 12px;
  }

  ion-title {
    font-size: 16px;
  }

  ion-button {
    --border-radius: 50%;
  }

  form {
    padding: 10px 12px;
  }
}

/* Custom button */
ion-button[type="submit"] {
  background: #28a745;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  --border-radius: 6px;
}

ion-button[type="submit"]:disabled {
  background: #ccc;
}

ion-button[type="submit"]:not(:disabled):hover {
  background: #218838;
}

/* Modal content */
.modal-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Adjust form labels for better spacing */
ion-item ion-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.picture-button {
  --border-radius: 4px; /* Adjust this value to control corner roundness */
  border-radius: var(--border-radius);
}

.picture-button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}