<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="football"></ion-icon>
    <ion-title>
      @if (mode=='edit') {
        {{ 'LEAGUES.EDIT' | translate }}
      }
      @else {
        {{ 'LEAGUES.NEW' | translate }}
      }
    </ion-title>
    @if (isMobile) {
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input [label]="'LEAGUES.NAME' | translate" label-placement="stacked"  type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <p *ngIf="name?.errors?.['required']">{{ 'LEAGUES.ERRORS.NAME_REQUIRED' | translate }}</p>
      <p *ngIf="name?.errors?.['minlength']">{{ 'LEAGUES.ERRORS.NAME_MIN_LENGTH' | translate }}</p>
    </ion-text>

    
    <!-- Botón de Envío -->
    <ion-button color="success" [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit" >
      @if (mode=='edit') {
        {{ 'LEAGUES.UPDATE' | translate }}
      }
      @else {
        {{ 'LEAGUES.SUBMIT' | translate }}
      }
    </ion-button>

    <ion-button expand="block" color="transparent" class="picture-button">
      <app-picture-selectable formControlName="picture"></app-picture-selectable>
    </ion-button>
  </form>

</ion-content>