<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-title>Leagues</ion-title>

  <ion-button color="success" class="createLeague" slot="end">Crear liga</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">leagues</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" *ngFor="let league of (leagues$ | async)">
        <ion-card>
          <ion-img ></ion-img>
          <ion-img ></ion-img>
          <ion-img ></ion-img>
          <ion-label>{{league.name}}</ion-label>
          <div class="button-container" >
            <ion-button color="primary" routerLink="/teams">
              <ion-icon name="information-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" >
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="warning">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>