.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
ion-content{
  --background: none;
  background-image: linear-gradient(to bottom, #000000, #1c301d); /* Gradiente */
  color: white;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 75%;
  object-fit: cover;
  margin-bottom: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.full_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #ffffff;
}

.social {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.biography {
  font-size: 16px;
  color: #ffffff;
  max-width: 400px;
}

ion-toolbar {
  --background: none !important; /* Elimina el fondo */
  background-color: #121212;
  --ion-background-color: transparent !important; /* Compatibilidad con temas de Ionic */
  box-shadow: none; /* Elimina la sombra */
  border: none; /* Elimina cualquier borde */
}
