<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="animate-title">{{'ABOUT.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="page-title">{{ 'ABOUT.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="about-container">
    <!-- Imagen -->
    <img src="assets/img/profile.jpg" alt="Profile Picture" class="profile-picture">

    <!-- Nombre -->
    <h1 class="full_name">Alonso Sánchez Moreno de Vega</h1>

    <!-- Redes Sociales -->
    <div class="social">
      <ion-button  fill="clear" color="success" href="https://github.com/AlonsoSMdV" target="_blank">
        <ion-icon slot="icon-only" name="logo-github" size="large"></ion-icon>
      </ion-button>
    </div>

    <!-- Información adicional -->
    <p class="biography">
      {{ 'ABOUT.ME' | translate }}
    </p>
  </div>
</ion-content>