<!-- leagues.page.html -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="animate-title">{{'MATCHES.TITLE' | translate}}</ion-title>
    <ion-button class="create-button" slot="end" (click)="onAddMatch()">
      <ion-icon name="add-circle-outline"></ion-icon>
      {{'MATCHES.CREATE' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="match-content">
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col size="12" size-md="4" *ngFor="let i of [1,2,3]">
        <ion-card>
          <ion-card-content>
            <ion-skeleton-text animated style="width: 100%; height: 120px;"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading">
      <ion-col 
        size="12"
        size-md="4"
        *ngFor="let match of (matches$ | async), let i = index"
        appDragDrop [dragData]="match" [index]="i" (dropped)="onMatchDropped($event)"
      >
      <ion-card appHighlight="rgba(119, 245, 151, 0.3)">
        <ion-card-content>
          <div class="match-header">
            <div class="teams-container">
              
              <div class="team">
                <img [src]="match.localTeam?.picture?.url || img" alt="team 1" class="team-logo"/>
                <span class="team-name">{{match.localTeam?.name}}</span>
              </div>
              <span class="versus">VS</span>
              <div class="team">
                <img [src]="match.visitorTeam?.picture?.url || img" class="team-logo" alt="Team 2">
                <span class="team-name">{{match.visitorTeam?.name}}</span>
              </div>
            </div>
            
            <div class="match-details">
              <span class="match-day">{{match.day}}</span>
              <span class="match-hour">{{match.hour}}</span>
              <span class="match-place">{{match.place}}</span>
            </div>
            
            <span class="match-res" *ngIf="match.result">{{match.result}}</span>
          </div>
      
          <div class="action-buttons">
            <ion-button fill="clear" class="share" (click)="shareMatch(match)">
              <ion-icon name="share-social" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="edit" (click)="openMatch(match, i)">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="delete" (click)="onDeleteMatch(match)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>