

ion-content {
  --background: none; /* Elimina el fondo oscuro predefinido */
  position: relative; /* Necesario para posicionar la superposición */
}

/* Ajuste para centrar con desplazamiento hacia arriba */
.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Inicia el contenido desde la parte superior */
  height: 100vh; /* Altura completa de la pantalla */
  padding: 16px; /* Espaciado para dispositivos pequeños */
  padding-top: 10vh; /* Desplaza hacia abajo un poco para no estar completamente pegado */
}


.register-container {
  width: 100%;
  max-width: 400px; /* Ancho máximo para el formulario */
  background-image: linear-gradient(to bottom, #355e38, #000000); /* Fondo blanco semitransparente */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar relieve */
  padding: 24px; /* Espaciado interno */
  padding-top: 15px;
    
  }

  /* Ajustar estilos para dispositivos más pequeños */
@media (max-width: 480px) {
  .login-container {
    padding: 16px;
    padding-top: 7px;
  }
}
  
  form {
    width: 100%;
    max-width: 400px;
    height:100%;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
  }
  ion-item{
    margin-bottom:10px;
  }
  ion-text.input-error{
    margin-top:-10px;
  }
  ion-content {
    --background: none; /* Elimina el fondo oscuro predefinido */
    position: relative; /* Necesario para posicionar la superposición */

  }
