:host {
  --primary-color: #00ff88;
  --secondary-color: #5050db;
  --accent-color: #ff3366;
  --background-dark: #131313;
  --card-bg: rgba(255, 255, 255, 0.1);
  --card-height: 300px;
  --card-width: 300px;
}

// Header Styles
ion-header {
  ion-toolbar {
    --background: transparent;
    backdrop-filter: blur(10px);
    
    ion-title {
      font-weight: 700;
      background: linear-gradient(45deg, var(--primary-color), #00ffcc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.5rem;
    }
  }
}

/* Base gradient background */
ion-content {
  --background: none;
  background-image: linear-gradient(to bottom, #000000, #1c301d);
}

/* Toolbar styling */
ion-toolbar {
  --background: rgba(26, 26, 26, 0.95);
  backdrop-filter: blur(10px);
}

.page-title {
  color: #00ff9d;
  font-weight: 600;
  letter-spacing: 1px;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// Variables de colores para mantener consistencia
$primary-color: #004d00; // Verde oscuro
$secondary-color: #1a1a1a; // Fondo oscuro
$card-background: #333333; // Fondo de las tarjetas
$button-color: #0066ff; // Azul para los botones
$text-color: #ffffff; // Color del texto blanco

ion-content {
  --background: $secondary-color; // Fondo oscuro general
  background-image: linear-gradient(to bottom, #000000, #1c301d); // Gradiente de fondo
  color: $text-color; // Texto blanco por defecto
}

// Estilos para las secciones específicas
section {
  margin: 16px;

  ion-card {
    --background: $card-background;
    background-color: rgba(51, 51, 51, 0.8); // Fondo semitransparente
    border-radius: 8px; // Esquinas redondeadas
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Sombra para destacar
    color: $text-color;

    ion-card-header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      ion-card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color;
      }
    }

    ion-card-content {
      font-size: 1rem;
      line-height: 1.6;

      ion-button {
        --background: $button-color;
        --color: $text-color;
        border-radius: 4px;

        &:hover {
          --background: darken($button-color, 10%);
        }
      }
    }
  }
}

