<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="animate-title">{{'HOME.TITLE' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large" class="page-title">{{ 'HOME.TITLE' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
    
    <section id="ligas">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'LEAGUES.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.LEAGUES' | translate}}
                <ion-button color="success" expand="block" routerLink="/leagues">{{'HOME.SEE_LEAGUES' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="equipos">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'TEAMS.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.TEAMS' | translate}}
                <ion-button color="success" expand="block" routerLink="/teams">{{'HOME.SEE_TEAMS' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="jugadores">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'PLAYERS.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.PLAYERS' | translate}}
                <ion-button color="success" expand="block" routerLink="/players">{{'HOME.SEE_PLAYERS' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="partidos">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'MATCHES.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.MATCHES' | translate}}
                <ion-button color="success" expand="block" routerLink="/matches">{{'HOME.SEE_MATCHES' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="contacto">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'ABOUT.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{'HOME.CONTACT' | translate}}
                <ion-button color="success" expand="block" routerLink="/about">{{'HOME.SEE_CONTACT' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>
</ion-content>
