<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">{{'MENU.TITLE' |translate}}</ion-title>
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <section id="ligas">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'LEAGUES.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.LEAGUES' | translate}}
                <ion-button color="success" expand="block" routerLink="/leagues">{{'HOME.SEE_LEAGUES' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="equipos">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'TEAMS.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.TEAMS' | translate}}
                <ion-button color="success" expand="block" routerLink="/teams">{{'HOME.SEE_TEAMS' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="jugadores">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'PLAYERS.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{'HOME.PLAYERS' | translate}}
                <ion-button color="success" expand="block" routerLink="/players">{{'HOME.SEE_PLAYERS' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>

    <section id="contacto">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{'ABOUT.TITLE' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{'HOME.CONTACT' | translate}}
                <ion-button color="success" expand="block" routerLink="/about">{{'HOME.SEE_CONTACT' | translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </section>
</ion-content>
