.card-content {
  display: flex; /* Flexbox para alinear todo en la misma línea */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content: space-between; /* Espacio entre contenido y botones */
  gap: 20px; /* Espacio entre los elementos */
}

.content {
  display: flex; /* Alinea las etiquetas en fila */
  flex-direction: row; /* Mantén las etiquetas en columna */
}

.button-container {
  display: flex; /* Botones alineados horizontalmente */
  gap: 10px; /* Espacio entre botones */
}


ion-label {
  flex: 1; /* Permite que las etiquetas ocupen espacio restante */
  text-align: center; /* Alinea el texto */
}

ion-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.createTeam{
  margin-right: 15px;
}