.card-content {
  display: flex; /* Organiza los elementos en una fila */
  justify-content: space-between; /* Alinea el contenido y los botones a los extremos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 8px 16px; /* Espaciado interno */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la animación */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

/* Agrandamiento al pasar el ratón */
.card-content:hover {
  transform: scale(1.05); /* Agranda la tarjeta ligeramente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Incrementa la sombra */
  z-index: 1; /* Lleva la tarjeta al frente */
}

/* Contenido de texto */
.content {
  display: flex;
  flex-direction: column; /* Alinea el texto verticalmente */
  flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
  margin-right: 16px; /* Espaciado entre texto y botones */
}

/* Botones */
.button-container {
  display: flex; /* Alinea los botones en fila */
  gap: 8px; /* Espaciado entre los botones */
}

ion-button {
  flex: 0 0 auto; /* Mantiene el tamaño fijo de los botones */
}


ion-label {
  flex: 1; /* Permite que las etiquetas ocupen espacio restante */
  text-align: center; /* Alinea el texto */
  color: white;
}

ion-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.createTeam{
  margin-right: 15px;
}

ion-content {
  --background: none;
  background-image: linear-gradient(to bottom, #000000, #1c301d); /* Gradiente */
  color: white;
}

ion-item {
  --background: none !important; /* Sobrescribe el fondo predeterminado */
  background-color: transparent !important; /* Asegura la transparencia */
  --ion-background-color: transparent !important; /* Compatibilidad con variables de Ionic */
  --color: white; /* Ajusta el color del texto */
}

ion-toolbar {
  --background: none !important; /* Elimina el fondo */
  background-color: #121212;
  --ion-background-color: transparent !important; /* Compatibilidad con temas de Ionic */
  box-shadow: none; /* Elimina la sombra */
  border: none; /* Elimina cualquier borde */
}
