
  
  ion-fab {
    position: absolute;
    right: 10px;
    top: 5%;
    transform: translateY(-50%);

    ion-fab-list {
      margin-right: 55px;
      
      ion-fab-button {
        --background: var(--ion-color-light);
        --color: var(--ion-color-dark);
        
        &.ion-color-success {
          --background: var(--ion-color-success);
          --color: var(--ion-color-success-contrast);
        }
      }
    }
  }
.card-content {
  display: flex; /* Flexbox para alinear todo en la misma línea */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content: space-between; /* Espacio entre contenido y botones */
  gap: 10px; /* Espacio entre los elementos */
}

.content {
  display: flex; /* Alinea las etiquetas en fila */
  flex-direction: column; /* Mantén las etiquetas en columna */
}

.button-container {
  display: flex; /* Botones alineados horizontalmente */
  gap: 10px; /* Espacio entre botones */
}

ion-img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
  object-fit: cover; /* Asegura que las imágenes se vean correctamente */
  border-radius: 50%; /* Para imágenes circulares */
}

ion-label {
  flex: 1; /* Permite que las etiquetas ocupen espacio restante */
  text-align: center; /* Alinea el texto */
}

ion-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.createPlayer{
  margin-right: 15px;
}

.card-container ion-card {
  transition: transform 0.3s ease; /* Transición suave al ampliar */
  cursor: pointer; /* Cambia el cursor para indicar interactividad */
}

.card-container ion-card:hover {
  transform: scale(1.1); /* Amplía la tarjeta al pasar el ratón */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-label{
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Espaciado entre botones y contenido */
}
