<div class="language-container">
  <ion-item 
    lines="none" 
    class="language-selector custom-item" 
    (click)="toggleDropdown()"
    [class.active]="isOpen">
    <ion-icon name="language-outline" slot="start" class="language-icon"></ion-icon>
    <ion-label>
      <div class="label-content">
        <span class="language-name">{{ getCurrentLanguage()!!.name | translate }}</span>
        <span class="language-code">{{ getCurrentLanguage()?.shortCode }}</span>
      </div>
    </ion-label>
    <ion-icon 
      [name]="isOpen ? 'chevron-up' : 'chevron-down'" 
      slot="end" 
      class="chevron-icon">
    </ion-icon>
  </ion-item>

  <div class="dropdown-container" *ngIf="isOpen">
    <ion-list class="language-list">
      <div class="scrollable-content">
        <ion-item 
          *ngFor="let lang of languages" 
          lines="none"
          class="language-option custom-item"
          [class.selected]="selectedLanguage === lang.code"
          (click)="selectLanguage(lang.code)">
          <ion-label>
            <div class="label-content">
              <img 
                *ngIf="lang.code"
                [src]="'https://flagcdn.com/w40/' + lang.shortCode.toLowerCase() + '.png'"
                class="language-flag"
                alt="{{ lang.name }} Flag"
              />
              <span class="language-name">{{ lang.name | translate }}</span>
              <span class="language-code">{{ lang?.shortCode }}</span>
            </div>
          </ion-label>
          <ion-icon 
            name="checkmark-outline" 
            *ngIf="selectedLanguage === lang.code"
            class="check-icon">
          </ion-icon>
        </ion-item>
      </div>
    </ion-list>
  </div>
</div>